<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Livestock_Auction.Properties.Settings.Fair_LiveStockAuctionData3ConnectionString" connectionString="Data Source=10.22.2.10;Initial Catalog=Fair_LiveStockAuctionData3;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
